/* Layout global attributes */
html * {
  padding:                0;
  border:                 none;
  outline:                none;
  margin:                 0;
}

body {
  position:               relative;
}

hr {
	display:                block;
	float:                  none;
	height:                 0;
	padding:                0;
	margin:                 0;
	clear:                  both;
	visibility:             hidden;
}

h1, h2, h3, h4, h5, h6, p {
  padding:                .75em 0 .25em 0;
}

h1, body.pictures h2 {
  display:                inline;
}

p {
  padding:                 1em 0 .5em 0;
}

table {
  border-collapse:        collapse;  
}
th, td {
  padding:                5px;
  border:                 1px solid;
}
/* /Layout global attributes */


/* Header */
#header {
  height:                 56px;
  padding:                0 30px;
  border:                 1px solid;
  border-right:           none;
  border-left:            none;
  position:               relative;
}

#logo_print {
  display:                none;
}

#logo_screen {
  padding:                0;
}

#slogan {
  padding:                0;
  position:               absolute;
  bottom:                 5px;
  left:                   30px;
}

#header ul {
  position:               absolute;
  right:                  200px;
  bottom:                 0;
}

#header li {
  display:                inline;
}
#header li a {
  display:                block;
  float:                  left;
  height:                 21px;
  padding:                35px 15px 0 15px;
}
/* /Header */


/* Main content */
#main_content {
  padding:                30px;
}

#thumbnails {
  margin-right:           -30px;
}

#thumbnails li {
  float:                  left;
  width:                  240px;
  height:                 240px;
  margin:                 0 10px 47px 52px;
  position:               relative;
  -webkit-box-reflect:    below 3px -webkit-gradient(linear, left top, left 200%, from(transparent), color-stop(0.4, transparent), to(white));
}

#thumbnails li.empty {
  clear:                  both;
  height:                 0 !important;
}

#thumbnails h4 {
  padding:                0;
}

#thumbnails h3, #thumbnails h4 a, #thumbnails label {
  width:                  160px;
  padding:                0 40px;
  position:               absolute;
}

#thumbnails h4 a {
  display:                block;
  padding:                210px 40px 20px 40px;
  top:                    0;
}

#thumbnails h3 {
  top:                    225px;
  z-index:                1;
}

#thumbnails div a {
  display:                table-cell;
  width:                  240px;
  height:                 240px;
  vertical-align:         middle;
  -webkit-border-radius:  15px;
  -moz-border-radius:     15px;
  -khtml-border-radius:   15px;
}

#thumbnails label {
  width:                  240px;
  padding:                0;
  margin:                 auto;
  right:                  0;
  bottom:                 -13px;
  left:                   0;
}
/* /Main content */


/* Pictures and videos index */
.pictures#index #thumbnails li, 
.videos#index #thumbnails li {
  margin:                 0 .45% 47px 0;
  -webkit-box-reflect:    below -35px -webkit-gradient(linear, left top, left 170%, from(transparent), color-stop(0.42, transparent), to(white));  
}

.videos #thumbnails li {
  width:      288px;
}
.videos #thumbnails div a {
  width:      288px;
}
.videos #thumbnails h3, .videos #thumbnails h4 a {
  width:                213px;
}

.videos #thumbnails img {
position:           relative;
top:3px;
z-index:-1;
  height:                 162px;
}
/* /Pictures and videos index */


/* Subnavigation */
#subnavigation {
	padding:                0;
  margin:                 -1.85em 0 .1em 0;
}

#subnavigation a, #see_data_sheet, #go_to_selection a {
  padding:                2px 10px;
  border:                 1px solid;
  -webkit-border-radius:  2px;
  -moz-border-radius:     2px;
  -khtml-border-radius:   2px;
  margin:                 0 2em;
}
/* /Subnavigation */


/* Summary */
#summary, .pages, #tags, #picture_description {
  width:                  600px;
  margin:                 auto;
}

#summary {
  padding:                0 40px 10px 40px;
  border:                 1px solid;
  -webkit-border-radius:  10px;
  -moz-border-radius:     10px;
  -khtml-border-radius:   10px;
  margin:                 20px auto;
}

#summary #see_data_sheet, #go_to_selection a {
  margin:                 0;
}

body#gallery #summary {
  position:               relative;
}

body#gallery #go_to_selection {
  position:               absolute;
  right:                  40px;
  bottom:                 10px;
}
/* /Summary */


/* Paging */
.pages {
  width:                  650px;
  padding:                0 75px;
  border-bottom:          1px solid;
  margin:                 2em auto .5em auto;
  clear:                  both;
  position:               relative;
}

.pages a, .pages strong {
  padding:                3px 5px;
  margin:                 0 -1px;
}

.pages .previous, .pages .next {
  width:                  70px;
  position:               absolute;
  top:                    0;
}
.pages .previous {
  padding-left:           0;
  left:                   0;
}
.pages .next {
  padding-right:          0;
  right:                  0;
}

.pages .previous span, 
.pages .next span {
/*  display:                inline-block;*/
  width:                  15px;
  height:                 15px;
  vertical-align:         text-top;
}
.pages .previous span {
  float:                  left;
  margin-left:            3px;
}
.pages .next span {
  float:                  right;
  margin-right:           3px;
}

.second {
  top:                    -50px;
  border-top:             1px solid;
  border-bottom:          none;
}
/* /Paging */


/* Data sheet */
#data_sheet {
  width:                  680px;
  padding:                20px 60px;
  border:                 1px solid;
  margin:                 auto;
}

#data_sheet h2 {
  display:                block;
  padding-bottom:         1em;
}

#data_sheet dl {
  padding:                10px 0;
  border-top:             1px solid;
}

#data_sheet dd {
  margin:                 0 0 .5em 42%;
}

#data_sheet dt {
  float:                  left;
  width:                  40%;
}
/* /Data sheet */


/* Big picture, big video */
#big_picture, #big_video {
  width:                  800px;
  margin:                 auto;
  position:               relative;
}

#big_picture a, 
#big_video a {
  width:                  60px;
  position:               absolute;
  top:                    237px;
}
#previous {
  left:                   -60px;
}
#next {
  right:                  -60px;
}

#previous span, #next span {
  display:                block;
  width:                  60px;
  height:                 60px;
  margin-bottom:          -40px;
  position:               relative;
}

#big_picture label, 
#big_video label, 
#big_video label span {
  display:                block;
}
#big_picture label {
  margin-top:             -.3em;
}

#big_picture img {
  -webkit-box-reflect:    below 5px -webkit-gradient(linear, left top, left 150%, from(transparent), color-stop(0.55, transparent), to(white));
}
/* /Big picture, big video */


/* Tags */
#tags {
  padding:                10px 0 30px 60px;
}

#tags h3 {
  float:left;
  margin:                 3px 20px 0 -60px;
}

#tags h3, #tags p {
/*  display:                inline;*/
}

#tags a {
  padding:                2px 10px;
}
/* /Tags */


/* Picture description */
#picture_description {
  padding:                0 30px 7px 30px;
  border:                 1px solid;
  -webkit-border-radius:  7px;
  -moz-border-radius:     7px;
  -khtml-border-radius:   7px;
  margin:                 0 auto -21px auto;
}
/* /Picture description */


/* Selection */
#all_pictures, #cart_items {
  padding:0;
  margin:0;
}

#all_pictures {
  width:395px;
  float:left;
  padding-right:39px;
}

#cart_items {
  width:316px;
  margin-left:435px;
  padding-left:40px;
  border-left: 1px solid #222;
}

#all_pictures li, #cart_items li {
  float:left;
  position:relative;
  margin:0 4px 4px 0;
/*  border:1px dotted red;*/
}

#all_pictures li.emtpy, #cart_items li.empty {
float:none;
clear:both;
}

#all_pictures img, #cart_items img {
  display:block;
}

#all_pictures label, #all_pictures a, 
#cart_items label, #cart_items a {
  display:none;
}

#selection_size {
  font-family: Arial, sans-serif;
/*border:1px dotted gray;*/
padding:0;
/*margin-left:;*/
/*display:block;*/
/*margin-left:-180px;*/

text-align:center;
color:#000;
position:relative;
z-index:2;
font-size:1px;
float:right;
right:424px;
/*right:40px;*/
}


#selection_size label {
/*  display:none;*/
display:block;
background:#555;
/*padding:30px;*/
line-height:85px;
text-align:center;
width:84px;
height:85px;
font-size:30px;
/*border:1px solid blue;*/
background:transparent url(../images/selection_size_label.png) no-repeat center;
}

.go_to_checkout {
  clear:both;
}


/* /Selection */


/* Text */
body.text h2 {
  
}

body.text img {
  float:left;
  margin: 0 20px 10px 0;
  border: 1px solid #222;
}
/* /Text */


/* Forms */
form {
  width:                  800px;
  margin:                 auto;
}

form label {
  display:                block;
  float:                  left;
  width:                  8%;
  margin-top:             .25em;
  margin-right:           1em;
}

label#phone_number, label#message {
  clear:                  left;
}

label#message {
  float:                  none;
  margin:                 1em 0 .75em 0;
}

input, textarea {
  -webkit-border-radius:  9px;
  -moz-border-radius:     9px;
  -khtml-border-radius:   9px;
}

input {
  float:                  left;
  width:                  33%;
  height:                 18px;
  padding:                0 5px 0 15px;
  margin-right:           2em;
  margin-bottom:          1em;
}

textarea {
  width:                  780px;
  padding:                10px;
}

button {
  display:                block;
  height:                 28px;
  padding:                0 30px;
  border:                 1px solid;
  -webkit-border-radius:  4px;
  -moz-border-radius:     4px;
  -khtml-border-radius:   4px;
  margin:                 1em auto 0 auto;
}

#submit_result {
  margin-bottom:          1em;
}

#global_search {
  width:                  140px;
  position:               absolute;
  right:                  30px;
  bottom:                 18px;
}

#global_search input {
  width:                  86%;
  margin:                 0;
}
/* /Forms */


/* Footer */
#footer {
  padding-bottom:         2em;
}
/* /Footer */


/* Section specificities */
body#selection #main_content {
  width:      900px;
  margin:auto;
/*  border:                                       1px dotted gray;*/
position:relative;
}

.go_to_checkout {
  position:fixed;
  top:20px;
  left:20px;
}

body.text #main_content {
/*  padding:                30px 20%;*/
width:600px;
margin:auto;
}
/* /Section specificities */