html * {
  list-style-type:        none;
  font:                   normal normal normal 1em/1em "Helvetica Neue", Helvetica, "Lucida Grande", Arial, sans-serif;
  text-decoration:        none;
}

p, li, dt, dd {
  line-height:            1.5em;
}

em {
  font-style:             italic;
}

p {
  font-size:              87%;
}

li, dt, dd, td, input, textarea {
  font-size:              82%;
}
li li, li p, dd li, dd p {
  font-size:              100%;
}


h1 {
  font-size:              150%;
}
#gallery h1, #search h1, 
h2 {
  font-size:              130%;
}
#gallery h1 em, #search h1 em {
  font-style:             normal;
  font-size:              115%;
}

h3 {
  font-size:              95%;
}

h4, h4 a {
  font-weight:            bold;  
}

h4, label {
  font-size:              70%;
}

h5 {
  font-size:              65%;
}

h6 {
  font-size:              60%;
}

img, #picture_description * {
  font-style:             italic;
  font-size:              70%;
}


/* Header */
#logo_screen {
/*  font-size:              200%;*/
}

#logo_screen a, #logo_screen img {
  font-size:              220%;
  line-height:            45px;
}

#logo_screen img {
  font-style:             normal;
  font-size:              100%;
}

#slogan {
  font-style:             normal;
  font-size:              85%;
}

#header li a {
  font-weight:            bold;
  font-size:              90%;
  line-height:          30px;
}
/* /Header */


/* Flickr */
#main_content h5, #main_content h5 a {
  font-style:         italic;
  font-weight:        normal;
}

#main_content h5, #main_content #big_picture cite {
  font-size:          70%;
  text-align:         right;
}

#main_content #big_picture cite {
  line-height:        16px;
  text-align:         center;
}

#main_content h5 a:hover, #main_content #big_picture cite a:hover {
  text-decoration:    underline;
}

#thumbnails cite {
  font-size:          60%;
}

body #footer h6 {
  font-size:          10px;
  letter-spacing:     .02em;
}
/* /Flickr */


/* Main content */
#thumbnails h2, #thumbnails h3 {
  text-align:             left;
}

#thumbnails h2 {
  font-size:              110%;
}

#thumbnails h3, #thumbnails label {
  font-size:              85%;
}

#thumbnails h3 a {
  text-decoration:        none;
}

#thumbnails div a, #thumbnails label {
  text-align:             center;
}

#thumbnails img {
  font-size:  90%;
  
}
/* /Main content */


/* Subnavigation */
#subnavigation {
  text-align:             center;
}
#subnavigation a {
  font-size:              87%;
  line-height:            28px;
  text-decoration:        none;
}
/* /Subnavigation */


/* Summary */
#summary a {
  font-size:              100%;
  text-decoration:        underline;
}
#summary_links a {
  font-size:              90%;
  text-decoration:        none;
}

#go_to_selection {
  text-align:             right;
}

#see_data_sheet {
  text-decoration:        none;
}
/* /Summary */


/* Paging */
.pages {
  text-align:             center;
}

.pages strong {
  font-weight:            bold;
  font-size:              130%;
}

.pages .previous, .pages .next {
  font-size:              95%;
}
.pages .previous {
  text-align:             right;
}
.pages .next {
  text-align:             left;
}
/* /Paging */


/* Data sheet */
#data_sheet h2 {
  text-align:             center;
}

#data_sheet li, #data_sheet dd {
  font-weight:            bold;
}

#data_sheet dt {
  text-align:             right;
}

#data_sheet a:hover {
  text-decoration:        underline;
}
/* /Data sheet */


/* Big picture, big video */
#big_picture, #big_video {
  text-align:             center;
}

#big_picture img {
  line-height:            8em;
}

#big_video a {
  font-size:              120%;
  text-decoration:        underline;
}

a#previous, a#next {
  font-size:              80%;
}

#big_picture label, #big_video label {
  font-weight:            bold;
  font-size:              100%;
}

#big_picture label {
  font-size:              300%;
}

#big_video label span {
  font-style:             italic;
  font-size:              70%;
}
/* /Big picture, big video */


/* Tags */
#tags a {
  font-size:              80%;
  line-height:            1em;
}
/* /Tags */


/* Selection */
#selection_size label, #search_result_count label {
  font-weight:            bold;
  font-size:              110%;
}
/* /Selection */


/* Text */
.text #main_content h3 {
  font-size:              90%;
  text-transform:         uppercase;
}

.text #main_content strong {
  font-weight:            bold;
}

.text #main_content a {
  text-decoration:        underline;
}

.text ul li {
  list-style:             disc outside url(../images/bullet.gif);
}

.text ul li li {
  list-style-image:       url(../images/bullet_small.gif);
}

.text ol li {
  list-style:             decimal;
}

.text #main_content p a {
  text-decoration:        underline;
}

code {
  font-family:            "Monaco", "Courier", monospace;
}

blockquote p {
  font-style:             italic;
  text-indent:            2em;
  text-align:             justify;
}

#main_content cite, 
#main_content cite a {
  font-style:             italic;
  font-size:              85%;
/*  text-align:             center;*/
}
#main_content cite a {
  font-size:              100%;
}
/* /Text */


/* Forms */
form label {
  text-align:             right;
}
label#message, 
label#names_of_guests {
  text-align:             left;
}

input {
  line-height:            20px;
}

textarea {
  line-height:            1.2em;
}

button {
  font-size:              80%;
  line-height:            25px;
}

#submit_error, #submit_success {
  text-align:             center;
}
/* /Forms */


/* Footer */
#footer * {
  text-align:             center;
}

#footer a {
  text-decoration:        underline;
}

#footer p {
  font-size:							80%;
}

#footer h2, #footer h3 {
  font-size:							75%;
}

#footer h2 a {
  text-decoration:        none;
}
#footer #beonthenet, 
#footer #improveit, 
#footer h3 a {
  text-decoration:        underline;
}

#footer h5, #footer h6 {
  font-size:              70%;
}
/* /Footer */