/* Layout global attributes */
html * {
  padding:                0;
  border-width:           0;
  outline:                none;
  margin:                 0;
}

body {
  position:               relative;
}

hr {
	display:                block;
	float:                  none;
	height:                 0;
	padding:                0;
	margin:                 0;
	clear:                  both;
	visibility:             hidden;
}

h1, h2, h3, h4, h5, h6, p {
  padding:                .75em 0 .25em 0;
}

p {
  padding:                 1em 0 .5em 0;
}

table {
  border-collapse:        collapse;  
}
th, td {
  padding:                5px;
  border-width:           1px;
  border-style:           solid;
}
/* /Layout global attributes */


/* Header */
#header {
  height:                 56px;
  padding:                0 30px;
  border-width:           1px 0;
  border-style:           solid;
  position:               relative;
}

#logo_print {
  display:                none;
}

#logo_screen, #slogan {
  padding:                0;
  position:               absolute;
  bottom:                 10px;
  left:                   30px;
}
#slogan {
  bottom:                 5px;
}

#header ul {
  position:               absolute;
  right:                  200px;
  bottom:                 0;
}

#header li {
  display:                inline;
}
#header li a {
  display:                block;
  float:                  left;
  height:                 21px;
  padding:                35px 15px 0 15px;
}
/* /Header */


/* Main content */
#main_content {
  padding:                30px;
}


#thumbnails {
/*  margin-right:           -30px;*/
  text-align:         center;
/*  outline:  1px dotted gray;*/

/*  padding:            0;*/
}

/*
#thumbnails li {

}
*/

#thumbnails li {
/*  float:                  left;*/
/*  min-width:              240px;*/
/*  width:auto;*/
/*  width:                  240px;*/
/*max-width:                300px;*/
/*  height:                 240px;*/
/*  margin:                 0 10px 47px 52px;*/
/*  margin:                 0 1% 47px 4%;*/
  
  display:            inline-block;
  vertical-align:     middle;
  width:              240px;
  height:             240px;
  margin:             0 2% 47px;
  position:               relative;
  -webkit-box-reflect:    below 3px -webkit-gradient(linear, left top, left 200%, from(transparent), color-stop(0.4, transparent), to(white));
/*border:1px dotted gray;*/
}

#thumbnails li.empty {
/*  float:none;*/
/*  outline:1px dotted red;*/
/*  clear:                  both;*/
/*  height:                 0 !important;*/
  display:  none;
}

#thumbnails h3 {
  padding:                0;
}

#thumbnails h2, #thumbnails h3 a, #thumbnails label {
  width:                  160px;
  padding:                0 40px;
  position:               absolute;
}

#thumbnails h2 {
  top:                    225px;
  left:                   0;
  z-index:                1;
}

#thumbnails h3 a {
  display:                block;
  padding:                210px 40px 20px 40px;
  top:                    0;
}

#thumbnails div a {
  display:                table-cell;
  width:                  240px;
  height:                 240px;
  vertical-align:         middle;
  -webkit-border-radius:  15px;
  -moz-border-radius:     15px;
  -khtml-border-radius:   15px;
  text-decoration:        none;
}

#thumbnails img {
  vertical-align:         middle;
}

#thumbnails label {
  width:                  240px;
  padding:                0;
  margin:                 auto;
  right:                  0;
  bottom:                 -13px;
  left:                   0;
}
/* /Main content */


/* Pictures and videos index */
.pictures#index #thumbnails li, 
.videos#index #thumbnails li {
  margin-right:           0;
  margin-left:            0;
  -webkit-box-reflect:    below -35px -webkit-gradient(linear, left top, left 170%, from(transparent), color-stop(0.42, transparent), to(white));  
}

.videos #thumbnails li {
  width:      288px;
}
.videos #thumbnails div a {
  width:      288px;
}
.videos #thumbnails h2, .videos #thumbnails h3 a {
  width:                213px;
}

.videos #thumbnails img {
position:           relative;
top:3px;
/*left:3px;*/
z-index:-1;
  height:                 192px;
}
/* /Pictures and videos index */


/* Subnavigation */
#subnavigation {
	padding:                0;
  margin:                 -1.85em 0 .1em 0;
}

#subnavigation a, #see_data_sheet, #go_to_selection, #facebox a, .go_to_checkout a {
  padding:                2px 10px;
  border-width:           1px;
  border-style:           solid;
  -webkit-border-radius:  2px;
  -moz-border-radius:     2px;
  -khtml-border-radius:   2px;
  margin:                 0 2em;
}
/* /Subnavigation */


/* Summary */
#summary, .pages, #tags, #picture_description {
  width:                  600px;
  margin:                 auto;
}

#summary {
  padding:                0 40px 15px 40px;
  border-width:           1px;
  border-style:           solid;
  -webkit-border-radius:  10px;
  -moz-border-radius:     10px;
  -khtml-border-radius:   10px;
  margin:                 20px auto;
}

#summary {
/*  padding-bottom:         10px;*/
}

#summary #see_data_sheet, #go_to_selection {
  margin:                 0;
}

body#gallery #summary {
  position:               relative;
}

body#gallery #see_data_sheet, 
body#gallery #go_to_selection {
  position:               absolute;
  bottom:                 15px;
}
body#gallery #see_data_sheet {
  left:                  40px;
}
body#gallery #go_to_selection {
  right:                  40px;
}
/* /Summary */


/* Paging */
.pages {
  width:                  630px;
  padding:                0 85px;
  border-width:           0 0 1px;
  border-style:           solid;
  margin:                 2em auto .5em;
  clear:                  both;
  position:               relative;
}

.pages a, .pages strong {
  padding:                3px 5px;
  margin:                 0 -1px;
}

.pages .previous, .pages .next {
  width:                  70px;
  position:               absolute;
  top:                    0;
}
.pages .previous {
  padding-left:           0;
  left:                   0;
}
.pages .next {
  padding-right:          0;
  right:                  0;
}

.pages .previous span, 
.pages .next span {
/*  display:                inline-block;*/
  width:                  15px;
  height:                 15px;
  vertical-align:         text-top;
}
.pages .previous span {
  float:                  left;
  margin-left:            3px;
}
.pages .next span {
  float:                  right;
  margin-right:           3px;
}

.second {
  top:                    -50px;
  border-width:           1px 0 0;
  border-style:           solid;
  border-bottom:          none;
}
/* /Paging */


/* Data sheet */
#data_sheet {
  width:                  680px;
  padding:                20px 60px;
  border-width:           1px;
  border-style:           solid;
  margin:                 auto;
}

#data_sheet h2 {
  display:                block;
  padding-bottom:         1em;
}

#data_sheet dl {
  padding:                10px 0;
  border-width:           1px 0 0;
  border-style:           solid;
}

#data_sheet dd {
  margin:                 0 0 .5em 42%;
}

#data_sheet dt {
  float:                  left;
  width:                  40%;
}
/* /Data sheet */


/* Big picture, big video */
#big_picture, #big_video {
  width:                  800px;
  min-height:             140px;
  height:                 auto !important;
  height:                 140px;
  margin:                 auto;
  position:               relative;
}

#big_picture a, 
#big_video a {
  width:                  60px;
  position:               absolute;
  top:                    70px;
}
#previous {
  left:                   -60px;
}
#next {
  right:                  -60px;
}

#previous span, #next span {
  display:                block;
  width:                  60px;
  height:                 60px;
  margin-bottom:          -40px;
  position:               relative;
}

#big_picture label, 
#big_video label, 
#big_video label span {
  display:                block;
}
#big_picture label {
  margin-top:             -.3em;
}

#big_picture img {
  -webkit-box-reflect:    below 5px -webkit-gradient(linear, left top, left 150%, from(transparent), color-stop(0.55, transparent), to(white));
}
/* /Big picture, big video */


/* Tags */
#tags {
  padding:                10px 0 30px 60px;
}

#tags h3 {
  float:left;
  margin:                 3px 20px 0 -60px;
}

#tags h3, #tags p {
/*  display:                inline;*/
}

#tags a {
  padding:                2px 10px;
}
/* /Tags */


/* Picture description */
#picture_description {
  padding:                0 30px 7px 30px;
  border-width:           1px;
  border-style:           solid;
  -webkit-border-radius:  7px;
  -moz-border-radius:     7px;
  -khtml-border-radius:   7px;
  margin:                 0 auto -21px auto;
}
/* /Picture description */


/* Selection */
#all_pictures, #cart_items {
  width:    395px;
  padding:0;
  margin:0;
}

#all_pictures {
  float:left;
}

#selected_pictures {
/*  width: 948px;*/
/*  outline:              1px dotted gray;*/
}

#cart_items {
  min-height: 480px;
  height:     auto !important;
  height:     480px;
  /* margin-left e padding-left têm que somar 508px. 505px no IE6. */
  padding-left:59px;
  margin-left:  446px;
  margin-right:-4px;
  border-width:           0 0 0 1px;
  border-style:           solid;
  border-color:           #222; 
}
html > body #cart_items {
  margin-left:  449px;
}

#selection .instructions {
  background:   url(../images/selection_instructions.jpg) no-repeat left top;
  border:       none;
  margin-left:  406px;
}
html > body#selection .instructions {
  margin-left:  409px;
}

#all_pictures li, #cart_items li, #selected_pictures li {
  float:left;
  position:relative;
  margin:0 4px 4px 0;
/*  outline:1px dotted red;*/
}

#all_pictures li.emtpy, #cart_items li.empty, #selected_pictures li.empty {
float:none;
clear:both;
}

#all_pictures img, #cart_items img {
  display:block;
}

#all_pictures label, #all_pictures a, 
#cart_items label, #cart_items a, 
#selected_pictures label, #selected_pictures a {
  display:        block;
  position:       absolute;
  bottom:         1px;
  right:          1px;
  text-shadow:    1px 1px  #000;
}

/* Aperfeiçoar para ficar bem quadradinho. */
#selected_pictures a.remove_picture {
  display:inline;
  position:static;
}

#all_pictures a, #cart_items a, #selected_pictures a {
  right:          auto;
  left:           1px;
  background:     #000;
  width:          14px;
  height:         14px;
  line-height:    10px;
  text-align:center;
  opacity:        .7;
  -webkit-border-radius:  7px;
  -moz-border-radius:     7px;
}

#selection #selection_size {
  font-size:          1px;
  font-family:        Arial, sans-serif;
  text-align:         center;

  width:              86px;
  height:             85px;
  padding:            0;
  margin-top:         23px;
  position:           absolute;
  right:              436px;
  z-index:            2;

  color:              #000;
}

#selection #selection_size label {
  font-size:          30px;
  line-height:        85px;
  text-align:         center;

  display:            block;
  width:              84px;
  height:             85px;
  margin:             -4px 0;

  background:transparent url(../images/selection_size_label.png) no-repeat center;
}

#facebox {
  display:none !important;
}


.go_to_checkout {
  border:             1px solid #555;
/*  float:right;*/
/*  height:   0;*/
  padding:0;

  text-align:right;

/*  margin:0 !important;*/
/*  top:0;*/
  clear:both;
/*  display:                                                                                      none !important;*/
}
.go_to_checkout a {
  margin:0;
}

#first.go_to_checkout {
/*  top:  57px;*/
/*  position: absolute;*/
/*  right:30px;*/
  margin: -2em 0 2em 0;
}
#second.go_to_checkout {
/*  margin-bottom:50px;*/
/*  position:static;*/
/*  outline:1px dotted red;*/
}
/* /Selection */


/* Facebox */
#facebox {
  position:     absolute;
  top:          62px;
  right:        0;
  left:         0;
  text-align:   center;
  display:block;
  z-index:      1000;
}

#facebox div {
  display:block;
  margin: auto;
  border: 1px solid #333;
  padding:      2px 5px 5px;
  -webkit-border-radius:  5px;
  -moz-border-radius:     5px;
  background:         #060606;
}

#facebox p {
  padding:0;
}

#facebox a {
  font-size:      70%;
  margin:0;
/*  position:   relative;*/
}

#facebox img {
  display:      block;
  margin-top:   5px;
}
/* /Facebox */


/* Text */
.text #main_content img {
  float:left;
  margin: 0 20px 10px 0;
  border-width:           1px;
  border-style:           solid;
  border-color:           #222;
}

.text #main_content ul, 
.text #main_content ol, 
.text #main_content dl {
/*  outline:                1px dotted gray;*/
  margin-left:            40px;
  margin-right:           40px;
}

.text #main_content li {
  margin-bottom:      .5em;
}

.text #main_content li p {
  padding-top:        0em;
  padding-bottom:     .5em;
/*  outline:1px dotted #222;*/
}

code {
  padding:          0 2px;
  -webkit-border-radius:  3px;
  font-family:    "Monaco", "Courier", monospace;
}
/* /Text */


/* Forms */
form {
  width:                  800px;
  margin:                 auto;
}

form label {
  display:                block;
  float:                  left;
  width:                  8%;
  margin:                 5px 1em 0 1em;
}

input, textarea {
  -webkit-border-radius:  9px;
  -moz-border-radius:     9px;
  -khtml-border-radius:   9px;
}

input {
  float:                  left;
  width:                  33%;
  height:                 18px;
  padding:                0 10px;
  margin:                 5px 0 30px 0;
}

input.rsvp_confirmation {
  float:                  left;
  width:                  auto;
  height:                 auto;
  background:             none;
}

input#message_confirmation_yes {
  clear:                  both;
  margin-left:            30%;
}

input#message_confirmation_no {
  margin-left:            30px;
}

label#confirmation_yes, 
label#confirmation_no {
  width:                  auto;
}

label#message, 
label#names_of_guests {
  float:                  none;
  clear:                  both;
  width:                  auto;
  margin:                 1em 0 .75em 0;
}

textarea {
  width:                  780px;
  padding:                10px;
}

button {
  display:                block;
  clear:                  both;
  height:                 28px;
  padding:                0 30px;
  border-width:           1px;
  border-style:           solid;
  -webkit-border-radius:  4px;
  -moz-border-radius:     4px;
  -khtml-border-radius:   4px;
  margin:                 1em auto 0 auto;
}

#submit_result {
  margin-bottom:          1em;
}

#global_search {
  width:                  140px;
  position:               absolute;
  right:                  30px;
  bottom:                 18px;
}

#global_search input {
  width:                  86%;
  margin:                 0;
}
/* /Forms */


/* Footer */
#footer {
  padding-bottom:         2em;
}

#footer h2, #footer h3 {
  display:                block;
}



#footer p {
	margin-bottom:          .5em;
}

#beonthenet img {
  width:                  95px;
  height:                 22px;
  margin:                 0 -4px -3px 0;
}

#footer h5 {
  margin:                 2em 0 .5em 0;
}
/* /Footer */


/* Section specificities */
#selection #main_content, 
#checkout #main_content {
  width:      900px;
  margin:auto;
/*  border:                                       1px dotted gray;*/
position:relative;
}

body.text #main_content {
/*  padding:                30px 20%;*/
width:600px;
margin:auto;
}
/* /Section specificities */