/* Style sheet with conditions for Internet Explorer 7 and below. */

hr {
  margin:                 -8px 0 -7px;
}

/* zoom e display:inline tornam possível inline-block em elementos que nativamente são block. */
#thumbnails li {
  display:                inline;
  zoom:                   1;
}

/* Vertically centering images */
#thumbnails div a {
  display:                block;
}
#thumbnails span.ie {
  display:                inline-block;
  vertical-align:         middle;
  height:                 100%;
}


/* Form */
.submitting {
  padding:                0 5px;
}

/* Big picture, big video */
#big_picture label, #big_video label {
  filter:                 alpha(opacity=50);
}

/* Selection */
#all_pictures label, #cart_items label, 
#selected_pictures label {
/*  filter:                 alpha(opacity=70);*/
}

.moved_to_cart {
/*  filter:                 alpha(opacity=30);*/
}

/* RSVP */
input#message_confirmation_yes {
  float:              none;
  margin-left:        0;
  margin-bottom:      -30px;
}