/* Style sheet with conditions for Internet Explorer 6. */

#thumbnails h3 a {
  background-image:       url(../images/thumbnail_mask_picture_ie6.png);
}
#thumbnails h3 a:hover {
  background-image:       url(../images/thumbnail_mask_picture_ie6_hover.png);
}
.videos #thumbnails h3 a {
  background-image:       url(../images/thumbnail_mask_video_ie6.png);
}
.videos #thumbnails h3 a:hover {
  background-image:       url(../images/thumbnail_mask_video_ie6_hover.png);
}


#selection_size label {
  background-image:       url(../images/selection_size_label_ie6.png);
}