/* Style sheet with conditions for Internet Explorer 6. */

#thumbnails h4 a {
  background-image:       url(../images/thumbnail_mask_ie6.png);
}
#thumbnails h4 a:hover {
  background-image:       url(../images/thumbnail_mask_ie6_hover.png);
}


#selection_size label {
  background-image:       url(../images/selection_size_label_ie6.png);
}